
<% if @inventories.empty? %>
	<h2> Your list of inventories is empty! </h2>
	
<% else %>
	<h2> Your inventories list: </h2>
	
	<% @inventories.each do |inventory| %>
		<%= link_to inventory.name, inventory_path(inventory.id), class: 'inventory-heading'%>
		<%= button_to 'Delete', inventory_path(inventory), method: :delete, class: 'btn btn-danger' %>
	<% end %>
<% end %>
<%= link_to 'Add new inventory', new_inventory_path, class: 'btn btn-primary' %>