
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Navbar</a>

    <ul class="d-flex list-unstyled" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
           <%= link_to "Foods", foods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New food", new_food_path, class: "nav-link" %>

        </li>
        <li class="nav-item">
     <%= link_to "Delete", method: :delete, class: "nav-link" %>

        </li>
      </ul>
  </div>
</nav>